In [1]:
from itertools import combinations
import numpy as np
import pandas as pd
import seaborn as sns
from string import ascii_uppercase
import time as time

%matplotlib inline

Create a dictionary of all possible 1 to 6-tile leaves

In [2]:
tilebag = ['A']*9+['B']*2+['C']*2+['D']*4+['E']*12+\
          ['F']*2+['G']*3+['H']*2+['I']*9+['J']*1+\
          ['K']*1+['L']*4+['M']*2+['N']*6+['O']*8+\
          ['P']*2+['Q']*1+['R']*6+['S']*4+['T']*6+\
          ['U']*4+['V']*2+['W']*2+['X']*1+['Y']*2+\
          ['Z']*1+['?']*2
            
# leaves_1 = ascii_uppercase + '?'
# leaves_2 = sorted(list(set(list(combinations(tilebag,2)))))
# leaves_2 = [x[0]+x[1] for x in leaves_2]

In [3]:
t0 = time.time()

maximum_superleave_length = 5
leaves = {i:sorted(list(set(list(combinations(tilebag,i))))) for i in 
          range(1,maximum_superleave_length+1)}

for i in range(1,maximum_superleave_length+1):
    leaves[i] = [''.join(leave) for leave in leaves[i]]
    
t1 = time.time()
print('Calculated superleaves up to length {} in {} seconds'.format(
    maximum_superleave_length,t1-t0))

Calculated superleaves up to length 5 in 25.13836693763733 seconds

The bottom creates the full set of leaves for all lengths from 1-5 (6 breaks on my local machine)

In [4]:
for i in range(1,6):
    print(i,len(leaves[i]))

1 27
2 373
3 3509
4 25254
5 148150

In [7]:
df = pd.read_csv('../log_games.csv', keep_default_na=False)

In [8]:
df.head()

,playerID,gameID,turn,rack,play,score,totalscore,leave,equity,tilesremaining
0,0,43ead121-14b8-47f6-a15f-2f60226a3465,0,OICIUAR,8D CURIO,20,20,AI,19.987,86
1,0,23dc26da-9618-460b-9caa-e9540791b021,0,SNFOITN,8D FONTS,24,24,IN,26.321,86
2,1,43ead121-14b8-47f6-a15f-2f60226a3465,1,YAINONE,D4 YONI.,20,20,AEN,25.056,81
3,0,6bbe7bee-007e-4c20-b2bf-2aaa917ebc59,0,IRYDLBR,8H DRILY,26,26,BR,26.304,86
4,1,23dc26da-9618-460b-9caa-e9540791b021,1,DLYFNTU,F6 FU.NY,27,27,DLT,25.561,81

In [9]:
tile_limit = 1
df = df.loc[df['tilesremaining']>=tile_limit]

In [10]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30587368 entries, 0 to 36820050
Data columns (total 10 columns):
playerID          int64
gameID            object
turn              int64
rack              object
play              object
score             int64
totalscore        int64
leave             object
equity            float64
tilesremaining    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 9.6 GB

Alphabetize rack

In [11]:
df['rack'] = df['rack'].apply(lambda x: ''.join(sorted(x)))

Create flag of whether each letter is contained in a rack, and also check for multiples

In [12]:
for multiple in range(1,6):
    t0 = time.time()

    # iterate through all 27 tiles
    for c in leaves[1]:

        if multiple*c in leaves[multiple]:
            df[multiple*c] = df['rack'].apply(lambda x: multiple*c in x)
            
    t1 = time.time()
    print('Added columns for all duplicates up to length {} in {} seconds'.format(multiple,t1-t0))

Added columns for all duplicates up to length 1 in 192.12264442443848 seconds
Added columns for all duplicates up to length 2 in 179.32395005226135 seconds
Added columns for all duplicates up to length 3 in 100.38379287719727 seconds
Added columns for all duplicates up to length 4 in 92.12169122695923 seconds
Added columns for all duplicates up to length 5 in 59.88667702674866 seconds

In [13]:
# following variable indicates what length of superleave we try to calculate up to.
# WARNING: might break for now if you try to do too long.
ev_calculator_max_length = 3

In [14]:
all_leaves = []

for i in range(1,ev_calculator_max_length+1):
    all_leaves += leaves[i]

ev_df = pd.DataFrame(columns=['mean','std','count','ev','synergy'],
                     index=all_leaves)

To find all of the racks corresponding to a particular leave, we have added columns to the dataframe of plays df marking each letter (A, B, C...) and also for duplicates (AA, BB, CC...) and triplicates where possible (AAA, DDD, EEE...).

If the letters in a given leave are all different, we can look for rows by using df['A']&df['B']. However, if there are duplicates involved, we have to look for df['AA']. The following function gives the correct dataframe columns to be looked up.

In [15]:
def get_columns(leave):
    letters=list(set(leave))
    tags = []
    
    for l in letters:
        tags += [sum([l==letter for letter in leave])*l]
    
    return tags

In [16]:
for leave_length in range(1,ev_calculator_max_length+1):
    print(leave_length)
    t0 = time.time()
    
    for leave in leaves[leave_length]:
        condition = df[get_columns(leave)].all(axis=1)
        ev_df.loc[leave]['mean'] = df.loc[condition]['score'].mean()
        ev_df.loc[leave]['std'] = df.loc[condition]['score'].std()
        ev_df.loc[leave]['count'] = len(df.loc[condition])
        
    t1 = time.time()
    print('Calculated mean, std and count in {} seconds'.format(t1-t0))

1
Calculated mean, std and count in 191.87206315994263 seconds
2
Calculated mean, std and count in 1046.7881920337677 seconds
3
Calculated mean, std and count in 6749.346915721893 seconds

In [17]:
ev_df['pct'] = 100*ev_df['count']/len(df)
ev_df['ev'] = ev_df['mean']-df['score'].mean()

Calculate leave "synergy", in other words the difference between the EV of the rack and what we'd expect just from adding the individual values of the tiles

In [18]:
for leave_length in range(2,ev_calculator_max_length+1):
    for leave in leaves[leave_length]:
        ev_df.loc[leave]['synergy'] = ev_df.loc[leave]['ev']-\
                                      sum([ev_df.loc[c]['ev'] for c in leave])

In [19]:
ev_df

        mean      std     count         ev    synergy        pct
?    54.3015  29.9093   4472557    15.7352        NaN    14.6222
A    39.6563  22.0263  15022710    1.09008        NaN    49.1141
B    36.9365  19.5086   3694257   -1.62968        NaN    12.0777
C    39.2795  22.1449   4241973   0.713264        NaN    13.8684
D     39.284  21.8473   7642419   0.717803        NaN    24.9855
E    40.4349  22.9035  19032075    1.86867        NaN     62.222
F    36.7207  17.8844   3511947   -1.84554        NaN    11.4817
G    36.6384  20.3258   5983143   -1.92778        NaN    19.5608
H    39.6928  19.8293   3571368    1.12657        NaN     11.676
I    39.0347  22.3068  15849900   0.468522        NaN    51.8185
J     36.689  14.2373   1761047   -1.87725        NaN    5.75743
K    38.3844  17.5015   1730325  -0.181808        NaN    5.65699
L    38.6782  22.1483   8063208   0.112024        NaN    26.3612
M    39.2174  20.8974   3853937    0.65116        NaN    12.5998
N     39.409  22.6111  11997564   0.842823        NaN    39.2239
O     37.831  20.9936  12889515  -0.735249        NaN      42.14
P    38.5454  20.6769   3844180 -0.0208731        NaN    12.5679
Q    34.5166  15.6837   2388476   -4.04963        NaN     7.8087
R    40.0394  23.2544  12169986    1.47323        NaN    39.7876
S    43.2171  24.6188   9012721    4.65087        NaN    29.4655
T    39.4397  22.7066  12028662   0.873444        NaN    39.3256
U    35.7104  19.9661   7983192   -2.85587        NaN    26.0996
V    34.7994  18.2749   4051454   -3.76686        NaN    13.2455
W    35.6479  16.8724   3364316   -2.91837        NaN     10.999
X    40.8593  15.8468   1775049    2.29305        NaN    5.80321
Y    37.6905  17.1369   3315228  -0.875691        NaN    10.8386
Z     42.976  18.0878   1814487    4.40981        NaN    5.93214
??   60.5817  36.1798    165671    22.0154   -9.45502   0.541632
A?    57.373  29.3402   1959223    18.8068    1.98144    6.40533
AA   34.2799  19.1137   3380238    -4.2863   -6.46646    11.0511
..       ...      ...       ...        ...        ...        ...
VWZ  36.2429  13.3122     18894   -2.32334 -0.0479169  0.0617706
VX?  41.2897  18.0609     20499     2.7235   -11.5379  0.0670179
VXY  38.8481  12.2876     18801   0.281869    2.63137  0.0614666
VXZ  39.9806  13.1405      9685    1.41436   -1.52164  0.0316634
VY?  41.3156  23.8976     38749    2.74935   -8.34333   0.126683
VYY  30.6541  9.87779      8573   -7.91208   -2.39383  0.0280279
VYZ  39.3163  13.3182     18176   0.750072   0.982817  0.0594232
VZ?  44.1514  21.5204     21308    5.58517    -10.793  0.0696627
W??  58.4499  35.4407     10644    19.8837   -8.66839  0.0347987
WW?  32.2015  19.9369      8406    -6.3647   -16.2632  0.0274819
WWX  34.5849  13.0831      4095   -3.98136  -0.437673  0.0133879
WWY  33.1559  11.0208      8103   -5.41036    1.30208  0.0264913
WWZ  35.3992  13.1852      4243   -3.16698   -1.74004  0.0138717
WX?   41.354  17.1108     16193    2.78782   -12.3221  0.0529402
WXY  40.4279  12.4202     15560    1.86167    3.36268  0.0508707
WXZ  41.3435  13.3546      8223    2.77732   -1.00716  0.0268836
WY?  43.9806  23.4769     31792     5.4144   -6.52677   0.103938
WYY  34.2339  10.7305      7592   -4.33229   0.337462  0.0248207
WYZ  42.0081  13.6094     15779    3.44189    2.82614  0.0515867
WZ?  44.7451  20.7817     17366    6.17885   -11.0478  0.0567751
X??  59.0374  34.0583      5293    20.4712   -13.2923  0.0173045
XY?  47.6023  20.1686     16144    9.03604   -8.11655    0.05278
XYY  37.6643  12.4375      3837  -0.901903   -1.44357  0.0125444
XYZ  44.0191  13.0065      8063    5.45288  -0.374294  0.0263606
XZ?  47.7224  17.7331      8706    9.15615   -13.2819  0.0284627
Y??  64.6541  34.5496     10529    26.0879    -4.5069  0.0344227
YY?  34.0438  17.4827      7845   -4.52237   -18.5062  0.0256478
YYZ  38.5038  13.6683      3863 -0.0624704    -2.7209  0.0126294
YZ?  51.0565  22.1986     17154    12.4903   -6.77908   0.056082
Z??  68.5961  37.8658      5893    30.0299   -5.85036  0.0192661

[3909 rows x 6 columns]

In [20]:
ev_df.to_csv('leave_values_010919_v4.csv')

In [21]:
ev_df.sort_values('synergy')

        mean      std     count         ev  synergy        pct
S??  48.6499  40.9945     50725    10.0837 -26.0376   0.165836
RRR  23.7867  15.0874    125396   -14.7796 -19.1992    0.40996
YY?  34.0438  17.4827      7845   -4.52237 -18.5062  0.0256478
NNN  23.5414  14.4115    129230   -15.0248 -17.5533   0.422495
III  22.7846  12.6703    479673   -15.7816 -17.1871    1.56821
J??  51.4327  33.5236      5258    12.8665 -16.7268  0.0171901
VV?  30.2133   22.449     13476   -8.35296 -16.5545  0.0440574
SSS  36.1413  21.2141     24160   -2.42487 -16.3775  0.0789869
LLL  22.6121  13.3829     24136   -15.9541 -16.2902  0.0789084
WW?  32.2015  19.9369      8406    -6.3647 -16.2632  0.0274819
HH?  40.6155  24.2367      9977    2.04929 -15.9391   0.032618
UU?  32.6661  24.4642     83177   -5.90015 -15.9237   0.271933
TTT  25.3352  15.8678    130326    -13.231 -15.8513   0.426078
AAA  26.4436  14.1165    373692   -12.1227 -15.3929    1.22172
KX?  41.4029  15.6854      8338    2.83663 -15.0098  0.0272596
EEE  29.8836  17.9622   1039237   -8.68264 -14.2886     3.3976
HJ?  39.4487  18.1611     17590    0.88244 -14.1021  0.0575074
R??  57.4093  37.8203     59870     18.843 -14.1006   0.195734
CW?  38.0268  24.5316     41368   -0.53944 -14.0696   0.135245
JP?  38.3406  18.6485     18720  -0.225626 -14.0627  0.0612017
MQ?  36.8483  20.8461     26264   -1.71788 -14.0546  0.0858655
MV?  37.1523  24.9392     45865   -1.41393 -14.0335   0.149948
FV?  35.2224   21.494     40845   -3.34382 -13.4667   0.133536
DDD  27.2715  15.5437     21031   -11.2947 -13.4481  0.0687571
BP?  39.2526  25.0553     41513   0.686396 -13.3983   0.135719
FP?  39.0836  24.2426     38195     0.5174 -13.3514   0.124872
X??  59.0374  34.0583      5293    20.4712 -13.2923  0.0173045
XZ?  47.7224  17.7331      8706    9.15615 -13.2819  0.0284627
KV?  37.0719  20.9736     19804   -1.49437 -13.2809  0.0647457
Q??  52.7273  38.1824      7481    14.1611 -13.2597  0.0244578
..       ...      ...       ...        ...      ...        ...
EQU  45.1641  21.0659    290228    6.59792  11.6348   0.948849
AQU  45.5273  19.8905    232332    6.96106  12.7765   0.759568
IQU  45.0634   20.781    250311    6.49719  12.9342   0.818348
?    54.3015  29.9093   4472557    15.7352      NaN    14.6222
A    39.6563  22.0263  15022710    1.09008      NaN    49.1141
B    36.9365  19.5086   3694257   -1.62968      NaN    12.0777
C    39.2795  22.1449   4241973   0.713264      NaN    13.8684
D     39.284  21.8473   7642419   0.717803      NaN    24.9855
E    40.4349  22.9035  19032075    1.86867      NaN     62.222
F    36.7207  17.8844   3511947   -1.84554      NaN    11.4817
G    36.6384  20.3258   5983143   -1.92778      NaN    19.5608
H    39.6928  19.8293   3571368    1.12657      NaN     11.676
I    39.0347  22.3068  15849900   0.468522      NaN    51.8185
J     36.689  14.2373   1761047   -1.87725      NaN    5.75743
K    38.3844  17.5015   1730325  -0.181808      NaN    5.65699
L    38.6782  22.1483   8063208   0.112024      NaN    26.3612
M    39.2174  20.8974   3853937    0.65116      NaN    12.5998
N     39.409  22.6111  11997564   0.842823      NaN    39.2239
O     37.831  20.9936  12889515  -0.735249      NaN      42.14
P    38.5454  20.6769   3844180 -0.0208731      NaN    12.5679
Q    34.5166  15.6837   2388476   -4.04963      NaN     7.8087
R    40.0394  23.2544  12169986    1.47323      NaN    39.7876
S    43.2171  24.6188   9012721    4.65087      NaN    29.4655
T    39.4397  22.7066  12028662   0.873444      NaN    39.3256
U    35.7104  19.9661   7983192   -2.85587      NaN    26.0996
V    34.7994  18.2749   4051454   -3.76686      NaN    13.2455
W    35.6479  16.8724   3364316   -2.91837      NaN     10.999
X    40.8593  15.8468   1775049    2.29305      NaN    5.80321
Y    37.6905  17.1369   3315228  -0.875691      NaN    10.8386
Z     42.976  18.0878   1814487    4.40981      NaN    5.93214

[3909 rows x 6 columns]